@model Filter

@{
    ViewData["Title"] = "Home Page";
}

<h3>Get Form</h3>

<label>Day @(Model.From?.Day)</label>

<form method="get">
    <input class="form-control" type="text" asp-for="From"/>
    <span class="text-danger" asp-validation-for="From"></span>

    <button type="submit" class="btn btn-primary">
        <i class="fas fa-fw fa-search"></i>
        Submit
    </button>
</form>

<br />
<br />

<h3>Post Form</h3>

<form method="post">
    <input class="form-control" type="text" asp-for="From" />
    <span class="text-danger" asp-validation-for="From"></span>

    <button type="submit" class="btn btn-primary">
        <i class="fas fa-fw fa-search"></i>
        Submit
    </button>
</form>